$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

nav {
    background-color: #242224;
}

.nav {
    li a {
        color: #d6d6d6;
        border-radius: 0;
        padding: 5px 10px
    }
     li a:hover {
        color: #000;
    }
}

.nav-pills {
    background-color: #242224;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 18px;
    border-radius: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #000;
    background-color: #d6d6d6;
}

.myBox {
    float: left;
    color: #12ad04;
    padding-right: 250px;
    margin-top: 0;
    margin-left: 50px;
}

.header {
    max-height: 15px;
    margin-top: 0;
    padding-bottom: 0;
    opacity: 0.95;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.dropdown-menu {
    background-color: #242224;
    width: 300px;
    li {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    .jumbotron {
        border-radius: 0;
    }

}

.jumbotron {
    background: url(/images/gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 370px;
}

.pageTitle {
    margin: 8% auto;
    min-height: 170px;
    max-width: 350px;
    border-radius: 5px;
    color: #fff;
    background-color: #242224;
    opacity: 0.95;
    text-align: center;
    .btn {
        font-size: 20px;
        padding: 14px 14px;
        background-color: #d6d6d6;
    }
    .btn:hover {
        background-color: #12ad04;
    }

}

.user {
    background-color: #242224;
}

.crud {
    margin: 0 auto;
    max-width: 400px;
    border-radius: 2px;
    color: #fff;
    background-color: #242224;
    opacity: 0.95;
    text-align: center;
    h2 {
        color: #12ad04;
    }
    form input {
        padding-top: 5px;
    }
    .loginBtn {
        font-size: 20px;
        padding: 14px 14px;
        color: #000;
        background-color: #d6d6d6;
    }
    .loginBtn:hover {
        background-color: #12ad04;
    }
    .cancel {
        color: #000;
        float: right;
    }
}

.titleName {
    color: #12ad04;
    padding-top: 5%;
    padding-bottom: 10px;
}

.marketing {
    background-color: #eaeaea;
    padding-left: 15px;
    padding-right: 15px;
    margin: 40px 0;
    min-height: 500px;
    p + h4 {
        margin-top: 28px;
    }
}

.col-md-4 {
    margin-bottom: 100px;
    a {
        text-decoration: none;
        color: #12ad04;
    }
    a:hover {
            color: #242224;
        }
    
    h3 {
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;  
    }
}

.form-control {
    margin-bottom: 10px;
    background: #f1f1f1;
}

.newWod {
    max-width: 400px;
}

.wodList {
    font-size: 115%;
}

article {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;
}

.col-sm-6 {
    margin: 0 auto;
    padding-bottom: 60px;
}

.wodDescription {
    margin-bottom: 10px;
}

textarea.form-control {
    min-height: 200px;
}

.updateWod {
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.deleteWod {
    cursor: pointer;
}

.submitUpdate {
    background-color: #12ad04;
}

#submitButton {
    font-size: 16px;
    background-color: #d6d6d6;
}

#submitButton:hover {
    background-color: #12ad04;
}

.lead {
    color: #d6d6d6;
}

#wodForm {
    padding-left: 30%;
    .btn:hover {
        background-color: #12ad04;
    }
}

#wodTextArea {
    width: 400px;
}

.newWodForm {
    input {
        width: 400px;
    }
    textarea {
        width: 400px;
    }
}

.libraryList {
    border-left: 1px solid #c9c9c9;
}

.workoutList {
    max-width: 400px;
    min-height: 100px;
    h4 {
        text-align: center;
    }
}

.boxMap {
    padding-left: 25%;
}

.table tr.active {
  background-color: #12ad04;
}

.table tr.active td {
  background-color: transparent !important;
}

.centerHeader {
    text-align: center;
    margin-bottom: 50px;
}

.randomness {
    padding-left: 35%;
    margin-bottom: 200px;
    border: none;
}

.crossfit {
    color: #f5f5f5;
    background-color: #12ad04;
}

.form-control {
    width: 400px;
}

.footer {
    background: #242224;
    width: 100%;
    min-height: 50px;
    p {
        padding: 2%;
        margin:0;
        text-align: center;
        color: #12ad04;
        font-size: 18px;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
}

@media screen and (min-width: 768px) {
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 960px) {
    .pageTitle {
        margin-top: 18%;
    }
    .myBox {
        padding-right: 100px;
        margin-left: 50px;
    }
    .nav-pills {
        font-size: 16px;
    }
    .nav > li {
        float: left;
        position: relative;
        display: block;
        vertical-align: middle;
    }
    #wodForm {
        padding-left: 10%;
    }
    .randomness {
        margin-left: 5%;
    }
}

@media screen and (max-width: 730px) {
    .pageTitle {
        margin-top: 25%;
    }
    #wodForm {
        padding-left: 2%;
    }
}

@media screen and (max-width: 480px) {
    .myBox {
        font-size: 26px;
        padding-right: 30px;
        margin-top: 4px;
        margin-left: 20px;
    }
    .pageTitle {
        margin-top: 40%;
    }
    .randomness {
        margin-left: 0;
    }
    .jumbotron {
        background: #242224;
        background-attachment: fixed;
        max-height: 250px;
    }
    .pageTitle {
        margin: 50px auto;
        max-width: 320px;
    }
    .crud {
        max-width: 400px;
        border-radius: none;
        input {
            width: 300px;
        }
        .loginBtn {
            font-size: 19px;
            padding: 10px 10px;
        }
        .cancel {
            float: none;
        }
    }
    article {
        margin-left: 0;
    }
    .libraryList {
        border-left: none;
    }

    .workoutList {
        max-width: 350px;
        min-height: 100px;
        h4 {
            text-align: center;
        }
    }
    .newWodForm {
        input {
            width: 300px;
        }
        textarea {
            width: 300px;
        }
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
    .nav {
        height: 30px;
        li a {
            font-size: 12px;
        }

    }
    .myBox {
        font-size: 16px;
        padding-right: 60px;
        margin-left: 20px;
    }
    .dropdown-menu {

        li {
            font-size: 12px;
            margin-bottom: 6px;
        }
    }


}
