<div class="row-marketing">
	<div class="crud">
		<div class="auth-forms">
		  <h2>User Login</h2>
		  <form ng-submit="login()">
		    <p ng-show="error" class="text-danger">{{ error }}</p>
		    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
		    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		    <input type="submit" value="Login" class="btn btn-default loginBtn" />
		  </form>
		</div>
		<a ng-href="#"><button class="btn btn-lg btn-warning cancel">Cancel</button></a>
	</div>
</div>
