<div class="header">
  <ul class="nav nav-pills">
    <h1 class="myBox">My Box</h1>
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/random">Random WOD</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <div ng-include="'views/nav.html'"></div>
  </ul>
</div>

<div class="jumbotron">
  <div class="pageTitle">
   <h2 class="titleName">User Login</h2> 
  </div> 
</div> 

<div class="row-marketing">
	<div class="crud">
		<div class="auth-forms">
		  <form ng-submit="login()">
		    <p ng-show="error" class="text-danger">{{ error }}</p>
		    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
		    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		    <input type="submit" value="Login" class="btn btn-default loginBtn" />
		  </form>
		</div>
		<a ng-href="#"><button class="btn btn-lg btn-warning cancel">Cancel</button></a>
	</div>
</div>
