<div class="header">
  <ul class="nav nav-pills">
    <h1 class="myBox">My Box</h1>
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/random">Random WOD</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <div ng-include="'views/nav.html'"></div>
  </ul>
</div>

<div class="jumbotron">
  <div class="pageTitle">
    <h2 class="titleName">Welcome to My Box</h2>
    <p class="lead">For the CrossFit Athlete</p>
  </div>
</div>

<div class="row marketing">
  <div class="col-md-4">
    <a ng-href="#/library"><h3>Track Progress</h3></a>
    <img src="/images/progress.png">
  </div>
  <div class="col-md-4">
    <a ng-href="#/random"><h3>Random WOD Generator</h3></a>
    <img src="/images/kettlebell.png" width="200" heigth="200">
  </div>
  <div class="col-md-4">
    <a ng-href="#/map"><h3>Box Locator</h3></a>
    <img src="/images/map.png" width="300" heigth="300">
  </div>
    
</div>


<div class="footer">
    <p>@ 2014 My Box, Inc.</p>     
</div>
