<div class="header">
  <ul class="nav nav-pills">
    <h1 class="myBox">My Box</h1>
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li class="active"><a ng-href="#/random">Random WOD</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <div ng-include="'views/nav.html'"></div>
  </ul>
</div>

<div class="jumbotron">
  <div class="pageTitle">
    <h2 class="titleName">Random WOD</h2>
    <p class="lead">Press 'WOD' button</p>
    <p><a class="btn btn-lg btn-default" id="randomButton" ng-click="randomWod()">WOD</a></p>
  </div>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <article ng-show-auth="login">
            
        </article>
    </div>
</div>


<div class="footer">
    <p>@ 2014 My Box, Inc.</p> 
</div>