<div class="header">
  <ul class="nav nav-pills visible-sm visible-md visible-lg">
    <h1 class="myBox">My Box</h1>
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/library">WOD Library</a></li>
    <li><a ng-href="#/random">Random WOD</a></li>
    <li><a ng-href="#/map">Box Locator</a></li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
          <div ng-controller="NavCtrl">
            <ul class="nav navbar-nav navbar-left" ng-show="signedIn()">
              <li role="presentation" class="whoAmI"> User: {{ currentUser.username }}</li>
              <li role="presentation">
                <a href="#" ng-click="logout()">Logout</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-left" ng-hide="signedIn()">
              <li role="presentation">
                <a href="#/register">Register</a>
              </li>
              <br>
              <li role="presentation">
                <a href="#/login">Log In</a>
              </li>
            </ul>
          </div>
        </ul>
      </a>
    </li>
  </ul>
  <ul class="nav nav-pills visible-xs">
    <li class="dropdown">
	    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i>
	      <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu2">
	          <li role="presentation"><a ng-href="#">Home</a></li>
	          <li role="presentation"><a ng-href="#/library">WOD Library</a></li>
	          <li role="presentation"><a ng-href="#/random">Random WOD</a></li>
	          <li role="presentation"><a ng-href="#/map">Box Locator</a></li>
	          <div ng-controller="NavCtrl">
	            <li ng-show="signedIn()" role="presentation">
	              <a href="#" ng-click="logout()">Logout</a>
	            </li>
	            <li ng-hide="signedIn()" role="presentation">
	              <a href="#/register">Register</a>
	            </li>
	            <li ng-hide="signedIn()" role="presentation">
	              <a href="#/login">Log In</a>
	            </li>
	          </div>
	      </ul>
	    </a>
    </li>
	<h1 class="myBox">My Box</h1>
  </ul>
</div>

<div class="user">
	<div class="jumbotron">
	  <div class="pageTitle">
	   <h2 class="titleName">Register</h2> 
	   <p class="lead">Select email, username, & password</p>
	  </div> 
	</div> 

	<div class="row-marketing">
		<div class="crud">
			<div class="auth-forms">
			  <form ng-submit="register()">
			    <p ng-show="error" class="text-danger">{{ error }}</p>
			    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
			    <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
			    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
			    <input type="submit" value="Register" class="btn btn-default loginBtn" />
			  </form>
			  <a ng-href="#"><button class="btn btn-lg btn-warning cancel">Cancel</button></a>
			</div>
		</div>
	</div>
	<div class="footer">     
	</div>
</div>

<div class="footer">
    <p>@ 2014 My Box, Inc.</p>     
</div>

