<div class="header">
  	<ul class="nav nav-pills visible-sm visible-md visible-lg">
    	<h1 class="myBox">My Box</h1>
    	<li><a ng-href="#">Home</a></li>
    	<li><a ng-href="#/library">WOD Library</a></li>
    	<li><a ng-href="#/random">Random WOD</a></li>
    	<li><a ng-href="#/map">Box Locator</a></li>
    	<li class="dropdown">
	      <a href="" data-toggle="dropdown">Account <b class="caret"></b>
	        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
	          <div ng-controller="NavCtrl">
	            <ul class="nav navbar-nav navbar-left" ng-show="signedIn()">
	              <li role="presentation" class="whoAmI"> User: {{ currentUser.username }}</li>
	              <li role="presentation">
	                <a href="#" ng-click="logout()">Logout</a>
	              </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-left" ng-hide="signedIn()">
	              <li role="presentation">
	                <a href="#/register">Register</a>
	              </li>
	              <br>
	              <li role="presentation">
	                <a href="#/login">Log In</a>
	              </li>
	            </ul>
	          </div>
	        </ul>
	      </a>
	    </li>
    </ul>
  	<ul class="nav nav-pills visible-xs">
	 	<li class="dropdown">
		    <a href="" data-toggle="dropdown"><i class="fa fa-bars"></i>
			    <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu2">
			        <li role="presentation"><a ng-href="#">Home</a></li>
			        <li role="presentation"><a ng-href="#/library">WOD Library</a></li>
			        <li role="presentation"><a ng-href="#/random">Random WOD</a></li>
			        <li role="presentation"><a ng-href="#/map">Box Locator</a></li>
			        <div ng-controller="NavCtrl">
			            <li ng-show="signedIn()" role="presentation">
			              <a href="#" ng-click="logout()">Logout</a>
			            </li>
			            <li ng-hide="signedIn()" role="presentation">
			              <a href="#/register">Register</a>
			            </li>
			            <li ng-hide="signedIn()" role="presentation">
			              <a href="#/login">Log In</a>
			            </li>
			        </div>
			    </ul>
		    </a>
	  	</li>
	  	<h1 class="myBox">My Box</h1>
	</ul>
</div>

<div class="user">

	<div class="jumbotron">
	  	<div class="pageTitle">
	   		<h2 class="titleName">Update WOD</h2> 
	  	</div> 
	</div> 

	<div class="row-marketing">
		<div class="crud">
			<form ng-show="signedIn()" ng-submit="updatePost(wodId, post)">
		      <div class="form-group">
		        <input type="text" class="form-control" value="{{post.title}}" ng-model="post.title">
		      </div>
		      <div class="form-group">
		      <textarea class="form-control" value="{{post.content}}" ng-model="post.content"></textarea>
		      <input class="form-control" type="date" name="input" ng-model="post.date" placeholder="yyyy-MM-dd" required />
		      </div>
		      <button class="btn btn-default loginBtn" ng-href="library">Update</button>
		    </form>
		</div>
	</div>

	<div class="footer">
	    <p>@ 2014 My Box, Inc.</p>     
	</div>

</div>

