

<div class="row-marketing">
	<div class="crud">
		<form ng-show="signedIn()" ng-submit="updatePost(wodId, post)">
	      <div class="form-group">
	        <input type="text" class="form-control" value="{{post.title}}" ng-model="post.title">
	      </div>
	      <div class="form-group">
	      <textarea class="form-control" value="{{post.content}}" ng-model="post.content"></textarea>
	      <input class="form-control" type="date" name="input" ng-model="post.date" placeholder="yyyy-MM-dd" required />
	      </div>
	      <button class="btn btn-default loginBtn" ng-href="library">Update</button>
	    </form>
	</div>
</div>


